body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.imgtwo {
  position : absolute;
  top : 100px; 
  right: 0;
  left: 300px;
}

.table {
  width: 900px;
}

.sbd {
  background-image: url('./Images/Wave.png') !important;
  background-repeat: no-repeat;
  background-position: top;
  background-size: 100% !important;
}

/* .bt {
  background-color: rgba(247, 73, 10, 0.952);
  border-radius: 20px;
  padding: 10px;
  width: 300px;
} */

